body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #FAC898;
  }
/* Added some styling*/

header {
  background-color: chartreuse;
  color: black;
}
  
  .swim-lanes {
    min-height: 60vh;
  }
  
  .task-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 100%;
  }
  
  .task-card:hover {
    cursor: grab;
  }

  .task-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  .lane {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .yellow {
    background-color: #ffffcc;
  }
  
  .red {
    background-color: #ffcccc;
  }
  .card{
    background-color: mintcream;
  }
  
  .card-header {
    background-color: #f0f0f0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 8px;
    font-weight: bold;
  }
  
  .card-content {
    padding: 10px 0;
  }
  
  .delete-task {
    margin-top: 10px;
  }
  
  .ui-datepicker {
    z-index: 9999 !important;
  }
  
  .transparent-text {
    color: rgba(0, 0, 0, 0.5);
  }
  .form-label.due-date-label {
    position: absolute;
      top: -30px; 
      right: 10px; 
      transform: translateX(-100%); 
  
  }
  
  .form-control {
    margin-bottom: 10px; 
    padding: 10px; 
  
  }
  
  #dueDate {
    margin-top: 10px; 
  }
  
  .smaller-input {
    width: 60%; 
  }
  
  .same-size-input {
    height: 38px; 
  }
  
  .form-label.due-date-label {
    margin-left: 15px; 
  }
  
  .input-group {
    display: flex;
    align-items: center;
  }
  
  .input-group > .form-control {
    flex: 1; 
    margin-right: 10px; 
  }
  
  #taskName {
    margin-top: 10px; 
  }